.mainNav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    height: auto;
    background-color: rgb(106, 160, 113);
}

.mainNav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    width: 100%;
    height: 40px;
}

.mainNav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 100%;
    width: 100px;
    cursor: pointer;
    color: black;
}

.mainNav-link:hover {
    text-decoration: underline;
}

.mainNav-titleContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.mainNav-header {
    font-weight: 700;
    font-size: 20px;
}

.active-link {
    text-decoration: underline;
}